<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="界面样式" value="Office 2013" />
    <add key="背景图片" value="背景.png" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="外部引用"/>
    </assemblyBinding>
  </runtime>
  <!--<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>-->
</configuration>